.slime {
  list-style: none;
  padding: 0;
  position: relative;
  top: -25px;
  left: -50px;
  display: inline-block;

  filter:url('#svgFilter');
  -webkit-filter:url('#svgFilter');

  &__icon {
    width: 24px;
    height: 24px;
  }


  &__item {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:left 1s;
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
      background-color: #E5ECF2 !important;
    }

    &:nth-child(1){
      background-color: $mr-green;

      .active &{
        left: 160px;
      }
    }
    &:nth-child(2){
      background-color: $mr-dark-blues;

      .active &{
        left: 80px;
      }
    }
    &:nth-child(3){
      background-color: $the-blue;
      transition:padding 1s;
      padding: 5px;

      .active &{
        left: 0px;
        padding: 0;
      }
    }

  }
}