.header {
    background-color: $ms-white;

    &__wrapper {
        padding: 10px 0;
        width: 800px;
        margin: auto;
    }
}

/* > Menu
-------------------------------- */
.menu {
    font-size: 0.88em; // 14px
    font-weight: 700;

    &__item {
        color: $mr-green;
        text-decoration: none;
    }

    &__item:not(:last-child) {
        margin-right: 1.5em;
    }
}

/* >Shortcuts
-------------------------------- */
.shortcuts {}

.profile {
    width: 3.13em;
    height: 3.13em;
    margin-right: 1.06em;

    img {
        border-radius: 4px;
        max-width: 100%;
    }

    &--tweet {
        margin-right: 1.3em;
        width: 3.75em;
        height: 3.75em;
    }
}

/* > Logo
-------------------------------- */
.logo {
    height: 2em;
    width: 2em;
    fill: $the-blue;
}