@media (max-width: 800px) {
    .header__wrapper {
        width: auto;
        padding: 1em;
    }

    .content {
        width: 100%;
    }

    .user {
        border-radius: 0;
    }

    .feed {
        border-radius: 0;
    }

    .shortcuts {
        button {
            width: 100%;
        }
    }

    .menu {
        margin-bottom: 40px;

        &__item:not(:last-child) {
            margin-bottom: 20px;
            margin-right: 0;
        }
    }

    .logo {
        margin-bottom: 40px;

        & > i {
            font-size: 40px;
        }
    }
}