.user {
    font-size: 1.13em; // 18px

    background-color: $ms-white;
    border-radius: 6px;
    margin-bottom: 2em;

    &__cover {
        max-width: 300px;
    }

    &__info {
        padding-top: 0.28em;

        &__name {
            font-size: 1em;
            font-weight: 700;
        }

        &__handle {
            font-size: 0.67em;
            font-weight: 300;
        }
    }

    &__avatar {
        text-align: center;

        img {
            $user__avatar__dimension: 4.17em;
            width: $user__avatar__dimension;
            height: $user__avatar__dimension;
            border-radius: $user__avatar__dimension;
            border: solid $ms-white 0.22em;
            margin-top: -$user__avatar__dimension/2;
        }
    }

    .stats {
        padding: 1em;
        cursor: pointer;

        &__item {
            font-size: 1em; // 18px
            font-weight: 700;

            &__text {
                font-size: 0.78em;
                font-weight: 300;
                text-transform: uppercase;
            }

            &:hover {
                color: $mr-dark-blues;
            }
        }
    }
}